<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dazuizui.bedroom_system.mapper.BedMapper">
    <insert id="insertBed">
        insert into
            bed
        values
        <foreach collection="list" item="tmp"   separator=",">
            (null,#{tmp.bedId},#{tmp.builderName},#{tmp.className},#{tmp.profession},#{tmp.roomId},#{tmp.floorId},null,#{tmp.sex},#{tmp.principal},#{tmp.phone},0)
        </foreach>
    </insert>

    <select id="getNonOptionalBeds" resultType="com.dazuizui.bedroom_system.domain.BedInfo" >
        SELECT
            id,
            room_id,
            builder_name,
            bed_id,
            (select name from user where id = t1.user_id limit 1) as 'name'
        FROM
            bedinfo t1
        where
            room_id = #{roomId} and
            builder_name = #{builderName}
    </select>
</mapper>

